# HW4

### due on 5/7/2017 at 11:59 pm

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>You use for loops (unless explicitly permitted)</li>
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from the student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [1]:
import pandas as pd
df = pd.read_csv("cleaned_survey.csv", index_col=0)
pd.set_option('precision', 3) # show only two decimal digits

In [2]:
df.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,...,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,...,0,1.0,4,4,0,1,0,0,6.0,1
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,...,0,0.0,2,2,0,0,0,1,4.0,1
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,...,0,1.0,3,3,0,0,1,0,3.0,1
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,...,0,1.0,2,3,0,0,0,1,5.0,1
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,...,0,0.0,1,1,0,0,1,0,4.0,1

### Data Set description

The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

### Question 1

<p>For each programming skill level, compute:</p>
<ol>
<li><b>PropPython</b>:the proportion (0 to 1, computed relatively to the group size) of students that know Python. 
<li><b>StdevClass</b>:the standard deviation of the Classification knowledge (function <i>std</i>)
</ol>
<p>You should return one data frame with one row for each programming skill level and two columns PropPython and StdevClass. Don't worry about having a Hierarchical Index for the columns.</p>

In [3]:
df.groupby(['ProgSkills']).agg({'Python' : {'PropPython' : 'mean'},
       'Classification' : {'StdevClass' : 'std'}})

               Python Classification
           PropPython     StdevClass
ProgSkills
1               0.000          0.378
2               0.273          0.751
3               0.536          1.033
4               0.583          1.084
5               0.500          0.707

### Question 2

For each program, how many students have a Clustering knowledge of at least 3? Report one row for each existing program.

In [4]:
df['Clust_Atleast3'] = (df.Clustering >= 3)

In [5]:
df.groupby('Program')['Clust_Atleast3'].sum()

Program
Business Man                     1.0
Faculty!                         1.0
MBA                              4.0
MSIS                             8.0
Master of Finance                0.0
Supply Chain Mgmt & Analytics    0.0
Name: Clust_Atleast3, dtype: float64

In [6]:
df.drop('Clust_Atleast3', axis=1, inplace=True)

### Question 3

For each level of Classification, how many people graduated at least 3 years ago?

In [7]:
df['Atleast3yearsAgo'] = ((df['Bach_3to5'] == 1) | (df['Bach_5Plus'] == 1))

In [8]:
df.groupby('Classification')['Atleast3yearsAgo'].sum()

Classification
1    21.0
2    15.0
3     5.0
4     2.0
5     1.0
Name: Atleast3yearsAgo, dtype: float64

### Question 4

<p>Write a hard question (with solution) on this data set. Your question will be made available on Camino to the rest of the class.  </p>
<p>The goal is to help fellow students to prepare for the midterm; so, try to make the question useful.  The text of your question should be as clear as possible and as short as possible.  Avoid creating questions that are too trivial. </p>
<p>My intention is to give everyone full marks on this question; the only way not to get full marks are the following:
<ul>
<li>You do not perform this task
<li>You do not include a solution 
</ul>
</p>
<p>If the solution you provide is incorrect, you will still receive full marks. But you must make an honest effort to get it right.
</p>

<b>POST YOUR QUESTION AND SOLUTION ON THIS <a href= 'https://docs.google.com/a/scu.edu/document/d/1bKWDq0YzcJnOkUSrTH4pB0WjE8hWP3lEdOLC7JfpbFI/edit?usp=sharing'>GOOGLE DOC</a>.</b>  You can use the space below to work on your question.

For each Program, find the proportion of students who have a job(either part time or full time).

In [9]:
df['anyJob'] = df.apply(lambda d: 1 if d['Job'] > 0 else 0, axis = 1)

In [10]:
df.groupby('Program')['anyJob'].mean()

Program
Business Man                     1.00
Faculty!                         1.00
MBA                              0.75
MSIS                             0.35
Master of Finance                0.00
Supply Chain Mgmt & Analytics    0.50
Name: anyJob, dtype: float64