# HW3

### due on 5/2/2017 at 11:59 pm

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>You use for loops (unless explicitly permitted)</li>
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from the student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [6]:
import pandas as pd
df = pd.read_csv("cleaned_survey.csv", index_col=0)
df.drop(['ProgSkills','Languages','Expert'],axis=1,inplace=True)

In [7]:
df.head()

,Job,Program,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus
0,0.0,MSIS,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0
1,0.5,MSIS,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1
2,0.0,MSIS,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0
3,0.0,MSIS,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1
4,0.0,MSIS,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0

### Data Set description

The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

### Question 1

How many people filled the survey?

In [45]:
len(df)

61

### Question 2

Among those who know SQL, what's the proportion (0 to 1) of students that know also Java?

In [63]:
round(len(df.ix[(df.SQL == 1) & (df.Java == 1)])/(df.SQL.sum() + 0.0),3)

0.824

### Question 3

What's the average knowledge in "classification" of those MBA students that do NOT know SQL?

In [59]:
round(df.ix[(df.Program == 'MBA') & (df.SQL == 0),'Classification'].mean(),3)

1.333

### Question 4

What's the proportion of students (0 to 1) who know C better than Java?

In [58]:
round(len(df.ix[(df.C > df.Java)])/(len(df) + 0.0),3)

0.082

### Question 5

Let us define the "data science experience" of a given student as the student's larger score among Regression, Classification, and Clustering. Compute the average data science experience among all MSIS students.

In [60]:
round(df.ix[df.Program == 'MSIS',13:16].max(axis = 1).mean(),3)

1.875

### Question 6

Among those students with at least one year elapsed from their Bachelor's degree, retrieve the row of the "best" student. The best student is the one who knows C best (in case of ties, consider Classification, then CPP, then CS, then Java, then Tableau)

In [43]:
df.ix[(df.Bach_0to1 == 0),:].sort_values(['C','Classification','CPP','CS','Java','Tableau'],ascending = False).head(1)

,Job,Program,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus
16,1.0,Faculty!,1,0,0.0,0,0.0,0.0,0.0,1.0,1.0,1,0,1.0,5,5,0,0,0,1